body{
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
div{
    background-color: black;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}