body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    height: 100vh;
}
div{
    color: white;
    font-size: 30px;
}